.fullscreen-bg__video {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
    padding: 0;
}

.custom-card {
    border-style: dashed;
    margin: 0 10px;
    border-width: 3px;
    width: 350px;
    font-size: 14px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background-color: #f8f9fa;
}

.container-main {
    max-width: 1480px;
}

.container-fluid-main {
    height: 1560px;
}

a {
    text-decoration: none;
}